@font-face {
    font-family: caladea;
    font-style: normal;
    font-weight: 400;
    src: local('Caladea'),
        url(https://fonts.cdnfonts.com/s/46604/Caladea-Regular.woff) format('woff')
}

@font-face {
    font-family: caladea;
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.cdnfonts.com/s/46604/Caladea-Italic.woff) format('woff')
}

@font-face {
    font-family: caladea;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.cdnfonts.com/s/46604/Caladea-Bold.woff) format('woff')
}

@font-face {
    font-family: caladea;
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.cdnfonts.com/s/46604/Caladea-BoldItalic.woff) format('woff')
}

body {
    /* height: 100%; */
    background-image: linear-gradient(26deg, #F09E54, #F52876);
    height: 100vh;
    margin: 0px;
    font-family: 'Caladea';
    /* filter: grayscale(1) !important; żałoba */
    /* background-image: linear-gradient(26deg, #6b6b6b, #aaaaaa); żałoba */
    color: brown;
    font-size: 25px;

}
h1 {
    font-size: 41px;
    font-family: 'Caladea';
    font-weight: normal;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* animation: rotate 1s linear infinite; */
}
.card {
  border: 1px gold solid;
  border-radius: 5px;
  display: block;
  max-width: 80%;
  background: #ffffff55;
  padding: 1%;
}
div {
  margin: 1%;
}
em {
  font-weight: bold;
  font-style: italic;
}
.grid img {
  width: 50%;
}
.wrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
input, textarea {
  background-color: #aaaaaa55;
  border: 1px gold solid;
  border-radius: 5px;
  width: 50%;
  height: 5vh;
  font-size: 20px;
  padding: 5px;
}
input[type="checkbox"] {
  width: 5vh;
}
button {
  background-color: pink;
  color: brown;
  font-size: 17px;
  padding: 15px;
  border-radius: 0px;
  /* margin: 5px; */
  border: 3px gold solid;
}
button:active {
  background-color: darkmagenta;
}
table {
  border-collapse: collapse;
}
td, th {
  border: 1px gold solid;
  border-radius: 15px;
  padding: 0.5vh;
  text-align: center;
}
textarea {
  width: calc(100% - 12px);
  padding: 5px;
}
.smallflag {
  position: relative; 
  top: 4px; 
  width: 30px;
  border: lightgrey 1px solid;
  margin-right: 5px;
  max-height: 20px
}
.warnings {
  color: red
}
popup-director-photo {
  padding-top: 5px;
  border: 1px white solid;
  border-radius: 5px;
}
.tippy-box {
  font-size: 16px;
  padding: 5px;
}
.tippy-content {
  text-align: justify;
}
input[type="radio"] {
  width: 5vh;
}
.poster {
  height: 300px;
}
.opis {
  text-align: justify
}
.paralax-circle {
  fill-opacity: 0.5;
}
.n {
  display: none
}
em {
  text-decoration: underline;
  font-style: normal;
}
.banner {
  width: 100%;
  border: 1px gold solid;
  border-radius: 3px;
}

@media (max-aspect-ratio: 1/1) {
  body {
    font-size: 50px;
  }
  h1 {
    font-size: 10vw;
  }
  .card {
    max-width: 100%;
    padding: 0px;
    margin: 3px;
  }
  table {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  tr, td {
    padding: 0px;
  }
  #logo {
    max-width: 25vw;
  }
  .trailer {
    display: none;
  }
  .directors {
    display: none;
  }
  .imdb {
    display: none;
  }
  .rym {
    display: none;
  }
  
  td, th {
    border: 3px gold solid;
    border-radius: 0px;
    text-align: center;
  }
  .card {
    border: none;
  }
  button {
    font-size: 60px;
  }
}


.trailer {
  text-align: center
}
.tippy-poster {
  margin: 0px;
  padding: 0px;
  position: relative;
  left: -5px;
}