body {
    /* height: 100%; */
    height: 100vh;
    margin: 0px;
    font-family: 'Caladea';
}
h1 {
    font-size: 41px;
    font-family: 'Caladea';
    font-weight: normal;
}
body {
  background-image: linear-gradient(26deg, #F09E54, #F52876);
  color: brown;
  font-size: 25px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* animation: rotate 1s linear infinite; */
}
.card {
  border: 1px gold solid;
  border-radius: 5px;
  display: block;
  max-width: 80%;
  background: #ffffff55;
  padding: 1%;
}
div {
  margin: 1%;
}
em {
  font-weight: bold;
  font-style: italic;
}
.grid>img {
  width: 50%;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
input {
  background-color: #aaaaaa55;
  border: 3px gold solid;
  border-radius: 5px;
  width: 50%;
  height: 5vh;
  font-size: 20px;
}
button {
  background-color: pink;
  color: brown;
  font-size: 17px;
  padding: 15px;
  border-radius: 0px;
  /* margin: 5px; */
  border: 3px gold solid;
}
button:active {
  background-color: darkmagenta;
}
table {
  border-collapse: collapse;
}
td {
  border: 3px gold solid;
  border-radius: 15px;
  padding: 0.5vh;
}