<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>DKF</title>
    <link href="dkf-base.css" rel="stylesheet">
    <!-- <link rel="alternate" type="application/rss+xml" href="feed.xml"/> -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/vue2.js"></script>
    <script src="js/popper-core.js"></script>
    <script src="js/tippy.js"></script>
    <script src="js/dayjs.min.js"></script>
    <script src="js/pl.js"></script>
    <!-- <script src="https://unpkg.com/openpgp@5.0.0-3/dist/openpgp.min.js"></script> -->
    <link href="js/shift-away-extreme.css" rel="stylesheet">
    <script src="FilmyCompo.js"></script>
    <script src="flags.js"></script>
    <style>
      .title {
        text-align: left;
      }
      table {
        text-align:center;
        margin: 5px;
        padding: 10px
      }
    </style>
</head>
<body>
    <center>
      <div>
        <img src="tż2.webp" style="max-height: 15vh" id="logo"/>
      </div>
        <div class="card">
          <form v-on:submit.prevent="submit" class="form">
            <div v-if="Date.now() > Date.parse(true_closing)" en="This form is already closed and does not accept answers. Message the organisers of this event directly to see if any seats are still available.">Ten formularz jest już zamknięty i nie można wysyłać zgłoszeń/odpowiedzi. Napisz bezpośrednio do organizatorów danego zdarzenia / ankiety, żeby dowiedzieć się, czy istnieją wciąż wolne miejsca.</div>
            <div v-else>
            
              <div class="">
                <h1>[[ title ]]</h1>
              </div>
              
              <img class="banner" src="" display="n">
              
              <div class="opis">
                <p v-html="opis"></p>
                <p v-if="closing_info" en="The form closes <em><span class=&quot;red&quot;>[[ closing ]]</span></em>">Formularz zamyka się <em><span class="red">[[ closing ]]</span></em>.</p>
              </div>
              
              <div class="item">
                <label for="name"><em en="What's your name?">Jak się nazywasz?</em></label>
                <div class="item">
                  <input id="name" v-model="name" class="cl" type="text" name="name" placeholder="Imię i nazwisko/rozpoznawalny pseudonim" data-en-placeholder="Your name/recognisable pseudonym" data-i18n required />
                </div>
              </div>
              <div class="item" v-for="f in fields">
                <div v-if="f.type == 'checkbox'">
                  <input type="checkbox" :name="f.name" v-model="f.value"><label :for="f.name">[[f.name]]</label>
                </div>
                
                <div v-if="f.type == 'filmy'">
                  <filmy-compo :field="f" :key="f.filmy"></filmy-compo>
                </div>
                
                <div v-if="f.type == 'textarea'">
                  <label v-html="f.label" :en="f.label_en"></label>
                  <textarea rows="3" v-model="f.text"></textarea>
                </div>
                
                <div class="autogenerated-checkbox-list" v-if="f.type == 'terminy'">
                 <label>
                  <em en="On which of the dates below would you be available for a meeting?">Które z poniższych terminów o g. 22:35 (start filmu ok. 21:05) Ci odpowiadają?</em>
                 </label>
                 <center>
                  <table>
                   <tr><th>
                    </th>
                    <th en="Available">Pasuje</th>
                    <th en="Less keenly">Mniej chętnie</th>
                    <th en="Unavailable">Nie pasuje</th>
                    <th v-if="f.unclear" en="Yet unclear">Jeszcze niejasne</th>
                   </tr>
                   <tr v-for="[key, value] of Object.entries(f.terminy)">
                    <td>
                     [[fragm(key)]]
                    </td>
                    <td v-bind:style='"background-color:" + (f.terminy[key] == "tak" ? "green" : "initial")' v-on:click="clicked">
                     <input :id="key" :name="key" type="radio" v-model="f.terminy[key]" value="tak"/>
                    </td>
                    <td v-bind:style='"background-color:" + (f.terminy[key] == "mniej" ? "#a5e04c " : "initial")' v-on:click="clicked">
                     <input :id="key" :name="key" type="radio" v-model="f.terminy[key]" value="mniej"/>
                    </td>
                    <td v-bind:style='"background-color:" + (!f.terminy[key] ? "red" : "initial")' v-on:click="clicked">
                     <input :id="key" :name="key" :value="false" type="radio" v-model="f.terminy[key]"/>
                    </td>
                    <td v-bind:style='"background-color:" + (f.terminy[key] == "brakwiedzy" ? "grey" : "initial")' v-on:click="clicked" v-if="f.unclear">
                     <input :id="key" :name="key" type="radio" v-model="f.terminy[key]" value="brakwiedzy"/>
                    </td>
                   </tr>
                  </table>
                  <button v-on:click.prevent="odznacz" en="Unselect all">
                   Odznacz wszystkie
                  </button>
                 </center>
                </div>
              </div>
              
              <div class="item" style="padding-top: 30px; padding-bottom: 30px;">
                  <label for="uwagi" en="Do you have any other information/comments/suggestions/ideas/clarifications/questions/concerns?">Czy masz jakieś dodatkowe informacje/uwagi/sugestie/pomysły/objaśnienia/pytania/obawy?</label>
                  <textarea id="uwagi" rows="3" v-model="uwagi"></textarea>
              </div>

              <div id="warnings" class="warnings" style="font-weight: bold; font-size: 20px">
              </div>
              
              <div class="btn-block">
                <button en="Send">Wyślij</button>
              </div>
            </div>   
          </form>
          <!-- <img src="fizyczna.webp" style="position: fixed; top: 0px; left: 0px; z-index: -1; height: 100%"> -->
        </div>
        
    </center>
    <script src="i18n.js"></script>
    <script>
    $("a").not("[target]").attr("target", "_blank")
    function decrypt(data, key) {
      return openpgp.readMessage({armoredMessage: data}).then((value) => openpgp.decrypt({passwords: key, message: value}))
    }
    
    function submit_send() {
      $("form").html(transl("Proszę o cierpliwość, trwa przesyłanie…"))  
      url = 'https://ee3bdbc49df06c2b49c9d45c8834f47c.m.pipedream.net'
      
      localStorage.setItem("name", app.$data.name)
      
      // var wynik = encodeURIComponent(JSON.stringify(app.$data));
      // $.post(url, app.$data, on_success)
      fetch(url, {method: 'post', body: JSON.stringify(app.$data)}).then(t => t.json()).then(on_success)
      
      function on_success(data) {
        if (!data.success) {
          $("form").html('<h2 class="red">' + transl('Nie można przesłać z powodu nieznanego błędu. Spróbuj jeszcze raz lub skontaktuj się osobiście przez wiadomość prywatną.') + '</h2>');
          return false;
        }
        
        $("form").html(transl("Bardzo dziękuję! Wysłano odpowiedź."))
      }
    }
    
    const [name, key] = location.hash.substring(1).split(';')
    fetch(name+'.json', {cache: "no-store"}).then(async function (t) {
      if (key) {
        return JSON.parse((await decrypt(await t.text(), key)).data)
      } else {
        return t.json()
      }
    }).then(function (data) {
      if (data.logo) {
        $("#logo").attr("src", data.logo)
        delete data.logo
      }
      if (data.style) {
        let el = document.createElement("link")
        el.setAttribute("rel", "stylesheet")
        el.setAttribute("href", data.style) 
        document.head.appendChild(el)
        delete data.style
      }
      if (data.favicon) {
        let el = document.createElement("link")
        el.setAttribute("rel", "icon")
        el.setAttribute("href", data.favicon) 
        document.head.appendChild(el)
        delete data.favicon
      }
      if (data.banner) {
        $(".banner").show().attr("src", data.banner)
        delete data.banner
      }
      if (!data.true_closing) {
        data.true_closing = data.closing;
      }
      if (data.en_available)
        insert_flags()
      for (let f of data.fields) {
        if (f.type == "terminy") {
          dayjs.locale('pl')
          let first = dayjs(f.first)
          let last = dayjs(f.last)
          f.terminy = {}
          while (first <= last) {
            if (first > new dayjs()) {
              if (f.godziny)
                for (let g of f.godziny)
                  f.terminy[first.format("dd, DD MMMM").toLowerCase() + ' g. ' + g] = 'tak'
              else
                f.terminy[first.format("dd, DD MMMM").toLowerCase()] = 'tak'
            }
            first = first.add(1, 'day')
          }
        }
      }
      document.title = data.title
      _.extend(app.$data, data)
    })
    
    var app = new Vue({
      el: "center", 
      data: {
        form_id: name,
        closing: '',
        true_closing: '',
        name: localStorage.getItem('name'),
        uwagi: '',
        title: '',
        closing_info: true,
        opis: '',
        fields: [],
      }, 
      methods: 
      {
        submit: submit_send,
        clicked: function(a) { var radio = $(a.target).children("input")[0]; var value = radio.value; if (value == "false") value = false; this.$data.terminy[radio.id] = value},
        odznacz() {
          const terminy = this.fields.filter(f => f.type == "terminy")[0].terminy
          for (let k of Object.keys(terminy)){
            terminy[k] = false
          }
        },
        fragm,
      },
      components: {FilmyCompo},
      delimiters: ['[[', ']]'],
    })

  </script>
  <script src="colors.js"></script>
  <script src="paralax.js"></script>
  <script src="an.js"></script>
</body>