/** LATO **/
/*body {
  background-image: linear-gradient(26deg, darkgreen, lime);
} */
body {
  background-image: url('https://img.freepik.com/premium-photo/vintage-american-flag_196038-27477.jpg');
  background-repeat: repeat;
  color: white;
}
.card {
  background-image: linear-gradient(26deg, red, blue);
}

/** JESIEñ **/
/*
body {
  background-image: linear-gradient(36deg, #cc0000, darkred);
  color: gold;
}
*/

p {
  text-align: justify;
  margin: 1%;
}
.leaflet-tooltip {
  font-size: 20px;
  font-family: 'Caladea';
}
h2 {
  text-decoration: underline;
}

.photogrid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 15px; */
}

.photogrid img {
width: 100%
}

ul {
  text-align: left
}

.banner {
  width: 100%;
  border: 1px gold solid;
  border-radius: 3px;
}

/* .card {
  background: #ffffff99;
} */
