/** LATO
body {
  background-image: linear-gradient(26deg, darkgreen, lime);
}
**/

/** AMERYKA
body {
  background-image: url('https://img.freepik.com/premium-photo/vintage-american-flag_196038-27477.jpg');
  background-repeat: repeat;
  color: white;
}
.card {
  background-image: linear-gradient(26deg, red, blue);
}
**/

/** JESIEñ
**/
body {
  background-image: linear-gradient(36deg, #cc0000, darkred);
  color: gold;
}

#godło {
  content:url(towgeo-jesien.webp);
}

/** ZIMA 
body {
  background-image: linear-gradient(36deg, #33c2d9ff, #bdc2d9ff)
}
**/

p {
  text-align: justify;
  margin: 1%;
}
.leaflet-tooltip {
  font-size: 20px;
  font-family: 'Caladea';
}
h2 {
  text-decoration: underline;
}

.photogrid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 15px; */
}

.photogrid img {
width: 100%
}

ul {
  text-align: left
}

/* .card {
  background: #ffffff99;
} */
