@font-face {
    font-family: caladea;
    font-style: normal;
    font-weight: 400;
    src: local('Caladea'),
        url(https://fonts.cdnfonts.com/s/46604/Caladea-Regular.woff) format('woff')
}

@font-face {
    font-family: caladea;
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.cdnfonts.com/s/46604/Caladea-Italic.woff) format('woff')
}

@font-face {
    font-family: caladea;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.cdnfonts.com/s/46604/Caladea-Bold.woff) format('woff')
}

@font-face {
    font-family: caladea;
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.cdnfonts.com/s/46604/Caladea-BoldItalic.woff) format('woff')
}

body {
    height: 100%;
    /* height: 100vh; */
    margin: 0px;
    font-family: 'Caladea';
}

h1 {
    font-size: 41px;
    margin: 0px;
    padding: 10px;
    font-family: 'Caladea';
    font-weight: normal;
    /* -webkit-text-stroke: 1px white; */
    filter: drop-shadow(0px 0px 2px white)
}

.nav {
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px white solid;
    padding: 2px;
    text-align: center;
}

.n, .onday {
    display: none;
}

.tippy-box {
    font-size: 18px;
}

.white {
    color: white;
}

.svgtext {
    text-anchor: middle;
    dominant-baseline: middle;
}

body.m10 {
    background: radial-gradient(#d3d3d3, #e0e0e0);
}

body.m11 {
    background: radial-gradient(#522a00, #494949);
}

body.m12 {
    background: darkblue;
}

body.m2, body.m1 {
    /* background: radial-gradient(cyan, rgb(182, 255, 255)); */
    background: radial-gradient(#33c2d9ff, #bdc2d9ff)
}

body.m3 {
    background: radial-gradient(#e0e0e0, #d3d3d3);
}

body.m4 {
    background: radial-gradient(lime, lightgreen);
    /* background-image: url(kwie-deplorable.jpg); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: contain; */
}

body.m5 {
    background: radial-gradient(crimson, darkred);
}

body.m6, body.daytype_corpuschristi {
    /* background: radial-gradient(rgb(255, 199, 46), rgb(211, 117, 9)); */
    background: radial-gradient(rgb(255, 199, 46), #2877F5);
}

body.m8, body.m7 {
    background: radial-gradient(#2877F5, darkgreen, rgb(15, 54, 15));
}

body.m9 {
    background: darkgoldenrod;
}

body.c1226 {
    background-color: #a6130d;
}

body.c0416 {
    background-color: blueviolet;
}

body.daytype_równości {
    background: linear-gradient(60deg, #E50000, #FF8D00, #FFEE00, #028121, #004CFF, #770088);
}

.event > rect {
    fill: darkgrey;
    stroke: black;
    stroke-width: 0.5px;
}

@keyframes wycieczka_anim {
    0% {
        fill: yellow;
    }
    100% {
        fill: darkgreen;
    }
}

.wycieczka >rect {
    fill: darkgreen;
    animation-name: wycieczka_anim;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.test >rect {
    fill: url('#gradtest')
}

@keyframes impreza {
    0% {
        filter: hue-rotate(180deg)
    }
    100% {
        filter: none;
    }
}

.impreza>rect {
    fill: url(#impreza);
    animation-name: impreza;
    animation-iteration-count: infinite;
    animation-duration: 0.25s;
    animation-direction: alternate;
}

@keyframes flash {
    0% {
        fill: red;
    }

    100% {
    }
}

.flash>rect {
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 0.25s;
    animation-direction: alternate;
}

.muz_ > text {
    fill: white;
}
.muz_ > rect {
    fill: blue;
}


text {
    fill: black;
}

#warning_symbol {
    animation: impreza 40 0.1s alternate;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: #b8860bcc;
    text-align: center;
    font-size: x-large;
}

#day1226>.event>rect, #day0106>.event>rect,
 .daytype_zwiastowanie .event>rect, .daytype_adw2 .event>rect, .daytype_adw3 .event>rect,
 .daytype_masada .event>rect,
 .daytype_pobedy .event>rect,
 .daytype_równości .event>rect,
 .daytype_corpuschristi .event>rect,
 .daytype_diademuertos .event>rect,
 [class*=" daytype_orthodox"] .event>rect,
 .daytype_karolingowie .event>rect,
 .daytype_asalha .event>rect,
 .daytype_marks .event>rect,
 .daytype_tdbs .event>rect
{
    fill-opacity: 0.7;
}

.daytype_żałoba>text,
.daytype_diademuertos>text,
.daytype_epifania>text,
.daytype_us>text
{
    fill: lightgrey;
}

.daytype_żałoba_overlay>text {
    stroke: white;
    stroke-width: 1px;
}

.daytype_asalha>text {
    fill: orange;
}

.daytype_kwie0>text {
    fill: black;
}

.zdalnie >rect {
    fill: white;
}
tr.zdalnie {
    background-color: white;
    color: black;
}
.stacjo >rect {
    fill: lime;
}
tr.stacjo {
    background-color: lime;
}
.none >rect {
    fill: grey;
}
.urodziny >rect {
    fill: lightpink;
}
.wybory >rect {
    fill: lightgrey;
}
.wspom >rect {
    fill: #FAD6A5;
}
.std >rect{
    fill: orange;
}
.wyjście > rect {
    fill: violet;
}
tr.wyjście {
    background-color: violet;
}
.wielkie > rect {
    fill: red;
}
.muz > rect {
    fill: lightblue; 
}
.global > rect {
    fill: url('#gradient_global');
}
.spec >rect, .tel >rect {
    fill: yellow;
}
.tbd >rect {
    fill: url('#gradient_tbd');
}
.tajemnica_bolesna >rect {
    fill: url('#gradient_tajemnica_bolesna');
}
.tajemnica_bolesna >text {
    fill: white;
}

.plandeleted {
    background-color: darkred;;
}
.planadded {
    background-color: limegreen;
}

.slidetab {
    color: white;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

input[type="checkbox"] {
    transform: scale(2);
    margin: 10px;
}

button {
    font-size: 17px;
    background-color: aqua;
    border: none;
    padding: 5px;
    border-radius: 0px;
    margin: 5px;
}

button:active {
    background-color: darkmagenta;
}

button.action {
    background: linear-gradient(90deg, aqua, lightpink);
}

::backdrop {
    opacity: 0.75;
    background-image: linear-gradient(45deg,
                magenta,
                rebeccapurple,
                dodgerblue,
                green);
}

dialog {
    font-size: 25px;
}

#error::backdrop {
    background-image: radial-gradient(#ff0000ff, orange);
}

.ytIframe {
    box-shadow: 0 0 100px 5px purple;
}

@keyframes miganie {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

#path4-2 {
    stroke: white;
    stop-color: white;
}

@keyframes flame {
    0% {
        fill: yellow;
        filter: drop-shadow(0 0 2px red) blur(2px)
    }
    40% {
        fill: orange;
        filter: drop-shadow(0 0 2px gold) blur(1px)
    }
    60% {
        fill: gold;
        filter: drop-shadow(0 0 2px orange) blur(1.5px)
    }
    100% {
        fill: red;
        filter: drop-shadow(0 0 2px yellow) blur(2px)
    }
}

.flame {
    animation: flame infinite 2s alternate; 
}

.nightly {
    display: none;
}
.bg-lightgrey {
    background: lightgrey;
    background-color: lightgrey;
}
.bg-lime {
    background: lime;
    background-color: lime;
}
.bg-cyan {
    background: cyan;
    background-color: cyan;
}
.bg-orange {
    background: orange;
    background-color: orange;
}

.private > text {
    fill: red;
}

.manylinks {
    cursor: pointer;
}

.dr_icon:hover {
    filter: saturate(0.5);
}

#bokl text {
    fill: yellow;
    stroke: grey;
}

.rot {
    transform: rotate(180deg)
}