body {
    height: 100vh;
    margin: 0px;
}

.nav {
    font-family: Caladea;
    font-size: 20px;
}

h1 {
    font-family: Caladea;
    font-size: 41px;
    margin: 0px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px white solid;
    padding: 2px;
    text-align: center;
}

.n, .onday {
    display: none;
}

.tippy-box {
    font-size: 18px;
}

body.m10 {
    background: radial-gradient(#d3d3d3, #e0e0e0);
}

body.m11 {
    background: radial-gradient(#522a00, #494949);
}

body.m12 {
    background: radial-gradient(red, green);
}

body.m2, body.m1 {
    background: radial-gradient(cyan, rgb(182, 255, 255));
}

body.m3 {
    background: radial-gradient(#e0e0e0, #d3d3d3);
}

body.m4 {
    background: radial-gradient(lime, lightgreen);
}

body.m5 {
    background-color: darkred;
}

body.m6 {
    background: radial-gradient(rgb(255, 199, 46), rgb(211, 117, 9));
}

body.m8, body.m7 {
    background: radial-gradient(darkgreen, rgb(15, 54, 15));
}