<!DOCTYPE html>
<html>
  <head>
    <title>Inaugurational-anniversarial party</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="rower-style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2"></script>
    <link rel="icon" href="gfx/favicon.ico">
  </head>
  <body>    
    <div class="testbox">
      <form v-on:submit.prevent="submit">
          <div class="banner" style='background-image: url("gfx/centrum_imprez.png"); background-position: center center; background-size: contain'>
            <h1>{{ title }}</h1>
          </div>
          
          <div class="opis">
            <p>Dears! We would love to invite y'all to our party celebrating the inauguration of Woronicza Steet's Festarum Centrum Varsoviense and one of the hosts’, Grzegorz's, birthday.</p>
            <p>No dress code, pick any outfit that suits you. The birthday boy would value no other gift higher than your attendance, no presents required. Sweets, vegan snacks and drinks (booze or soft) are welcome. Excellent mood and lots of fun are also highly recommended. Be there or be square □</p>
          </div>
          
          <div class="item">
            <label for="name">What's your name?</label>
            <div class="item">
              <input id="name" v-model="name" class="cl" type="text" name="name" placeholder="Your name…" required />
            </div>
          </div>
          
          <div class="question">
            <label>Will you take part?</label>
            <div class="question-answer">
              <div>
                <input type="radio" value="tak" v-model="taknie" id="radio_1" checked/>
                <label for="radio_1" class="radio"><span>Yes</span></label>
              </div>
              <div>
                <input type="radio" value="nie" v-model="taknie" id="radio_2" />
                <label for="radio_2" class="radio"><span>No</span></label>
              </div>
              <div>
                <input type="radio" value="tozależy" v-model="taknie" id="radio_3" />
                <label for="radio_3" class="radio"><span>We'll see / it depends</span></label>
              </div>
            </div>
          </div>
          
          <div class="item">
            
          </div>
          
          <div class="item">
              <label for="uwagi">Do you have any additional information/comments/suggestions/ideas/clarifications/questions/concerns?</label>
              <textarea id="uwagi" rows="3" v-model="uwagi"></textarea>
          </div>
          
          <div class="btn-block">
            <button>Submit</button>
          </div>
        </div>        
      </form>
  </body>
  
  <script>
  function submit_send()
  {
    $("form").html("Please be patient, transfer ongoing…")    

    url = 'https://ee3bdbc49df06c2b49c9d45c8834f47c.m.pipedream.net?odp='
    
    var wynik = encodeURIComponent(JSON.stringify(app.$data));
    $.get(url + wynik, on_success);
    
    function on_success(data)
    {
      if (!data.success)
      {
        $("form").html('<h2 class="red">Sending unsuccessful due to unknown error. Please send your response directly.</h2>');
        return false;
      }
      
      $("form").html("Your response has been sent.")
    }
  }

  var app = new Vue({
    el: "form", 
    data: {
      title: "Party!",
      form_id: "impreza0",
      name: "",
      taknie: "nie",
      uwagi: "",
    }, 
    methods: 
    {
      submit: submit_send,
    } 
  })

</script>
</html>
