<!DOCTYPE html>
<html>
  <head>
    <title>Impreza inauguracyjno-urodzinowa</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="rower-style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2"></script>
    <link rel="icon" href="gfx/favicon.ico">
  </head>
  <body>    
    <div class="testbox">
      <form v-on:submit.prevent="submit">
          <div class="banner" style='background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,208,237,1) 45%, rgba(121,132,255,1) 100%);; '>
            <h1>{{ title }}</h1>
          </div>
          
          <div class="opis">
            <p>Najmilisi! Zapraszamy Was na imprezę, na której oblewać będziemy dwie piękne okazje: inaugurację Festarum Centrum Varsoviense przy ul. Woronicza oraz urodziny połówki zespołu organizatorskiego, Grzegorza C.</p>
            <p>Brak dresscode'u, wybierz swój preferowany strój imprezowy. Dla solenizanta najpiękniejszym darem będzie Twoja obecność, obejdzie się bez prezentów. Mile widziane będą wegańskie przekąski, słodycze czy napoje (procentowe i nie tylko). Zalecane są również: pyszny nastrój oraz mnóstwo dobrej zabawy.</p>
          </div>
          
          <div class="item">
            <label for="name">Jak się nazywasz?</label>
            <div class="item">
              <input id="name" v-model="name" class="cl" type="text" name="name" placeholder="Imię i nazwisko/rozpoznawalny pseudonim…" required />
            </div>
          </div>
          
          <div class="question">
            <label>Czy weźmiesz udział w imprezie?</label>
            <div class="question-answer">
              <div>
                <input type="radio" value="tak" v-model="taknie" id="radio_1" checked/>
                <label for="radio_1" class="radio"><span>Tak</span></label>
              </div>
              <div>
                <input type="radio" value="nie" v-model="taknie" id="radio_2" />
                <label for="radio_2" class="radio"><span>Nie</span></label>
              </div>
              <div>
                <input type="radio" value="tozależy" v-model="taknie" id="radio_3" />
                <label for="radio_3" class="radio"><span>Zobaczymy / to zależy</span></label>
              </div>
            </div>
          </div>
          
          <div class="item">
            
          </div>
          
          <div class="item">
              <label for="uwagi">Czy masz jakieś dodatkowe informacje/uwagi/sugestie/pomysły/objaśnienia/pytania/obawy?</label>
              <textarea id="uwagi" rows="3" v-model="uwagi"></textarea>
          </div>
          
          <div class="btn-block">
            <button>Wyślij</button>
          </div>
        </div>        
      </form>
  </body>
  
  <script>
  function submit_send()
  {
    $("form").html("Proszę o cierpliwość, trwa przesyłanie…")    

    url = 'https://ee3bdbc49df06c2b49c9d45c8834f47c.m.pipedream.net?odp='
    
    var wynik = encodeURIComponent(JSON.stringify(app.$data));
    $.get(url + wynik, on_success);
    
    function on_success(data)
    {
      if (!data.success)
      {
        $("form").html('<h2 class="red">Nie można przesłać z powodu nieznanego błędu. Spróbuj jeszcze raz lub skontaktuj się osobiście przez wiadomość prywatną.</h2>');
        return false;
      }
      
      $("form").html("Wysłano odpowiedź.")
    }
  }

  var app = new Vue({
    el: "form", 
    data: {
      title: "Impreza!",
      form_id: "impreza0",
      name: "",
      taknie: "nie",
      uwagi: "",
    }, 
    methods: 
    {
      submit: submit_send,
    } 
  })

</script>
</html>
