<!DOCTYPE html>
<html>
  <head>
    <title>Contact form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="rower-style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2"></script>
    <link rel="icon" href="gfx/favicon.ico">
  </head>
  <body>    
    <div class="testbox">
      <form v-on:submit.prevent="submit">
        <div >
          <div class="banner" style='background-image: url("gfx/kontakt.jpg")'>
            <h1>{{ title }}</h1>
          </div>
          
          <div class="opis">
            <p>By means of this form you can contact the organisers of various events, if the information on those events state so.</p>
          </div>
          
          <div class="item">
            <label for="name">What's your name?</label>
            <div class="item">
              <input id="name" v-model="name" class="cl" type="text" name="name" placeholder="Full name/recognisable pseudonim…" required />
            </div>
          </div>
          
          <div class="item">
            <label for="eevent">Which form/event does this query refer to?</label>
            <div class="item">
              <input id="eevent" v-model="eevent" class="cl" type="text" name="eevent" placeholder="" required />
            </div>
          </div>
          
          <div class="item">
            <label for="contact">In what way/using which e-mail address do you wish to receive the answer to your query?<span style="color: grey; font-size: 14px">(If other than the ususal means of contact)</span></label>
            <div class="item">
              <input id="contact" v-model="contact" class="cl" type="text" name="contact" placeholder="" />
            </div>
          </div>
          
          <div class="item">
              <label for="content">Please describe your problem/question</label>
              <textarea id="content" rows="3" v-model="content"></textarea>
          </div>
          
      
          <div class="item">
              <label for="uwagi">Do you have any other information/comments/suggestions/ideas/clarifications/questions/concerns?</label>
              <textarea id="uwagi" rows="3" v-model="uwagi"></textarea>
          </div>
          
          <div class="btn-block">
            <button>Send</button>
          </div>
        </div>        
      </form>
  </body>
  
  <script>
  function submit_send()
  {
    $("form").html("Please be patient, transferring data…")    

    url = 'https://ee3bdbc49df06c2b49c9d45c8834f47c.m.pipedream.net?odp='
    
    var wynik = encodeURIComponent(JSON.stringify(app.$data));
    $.get(url + wynik, on_success);
    
    function on_success(data)
    {
      if (!data.success)
      {
        $("form").html('<h2 class="red">Your message could not be sent due to an unknown error. Please try again or contact the organisers directly through other means.</h2>');
        return false;
      }
      
      $("form").html("Your message has been sent.")
    }
  }

  var app = new Vue({
    el: "form", 
    data: {
      form_id: "kontakt-v1-en",
      title: "Contact form",
      name: "",
      eevent: "",
      content: "",
      contact: "",
      uwagi: "",
    }, 
    methods: 
    {
      submit: submit_send,
    } 
  })

</script>
</html>
