<!DOCTYPE html>
<html>
  <head>
    <title>Puchar Peryklesa w Szachach – zgłoszenie</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="rower-style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2"></script>
    <link rel="icon" href="gfx/favicon.ico">
  </head>
  <body>    
    <div class="testbox">
      <form v-on:submit.prevent="submit">
        <div v-if="form_id.length == 0" style="font-size: 60px; color: red">Formularz nieważny, nieustawiony id</div>
        
        <div class="banner" style='background-image: url("gfx/chess-banner.jpg"); '>
          <h1>Puchar Peryklesa w Szachach</h1>
        </div>
        <div class="opis">
          <p>Cześć! Zapraszam Cię do udziału w wakacyjnym zdalnym towarzyskim <b>turnieju szachowym</b> dla niezaawansowanych graczy. Wypełnij i wyślij ten formularz, aby zgłosić swoje uczestnictwo. Formularz zamyka się <span class="red">termin</span>.</p>
          
          <p>→ Turniej jest adresowany <b>wyłącznie</b> do <u>amatorskich</u>, <u>początkujących</u> i <u>niedoświadczonych</u> graczy. Jeżeli posiadasz wiedzę lub umiejętności szachowe, nie powinieneś/nnaś rejestrować się do turnieju.</p>
          <p>→ Wszystkie gry odbywają się za pośrednictwem internetowych portali szachowych we wcześniej ustalonym terminie w czasie rzeczywistym z kontrolą czasu: <b>60 minut na gracza</b>. To oznacza, że każda gra będzie trwała ostro mniej niż 2 godziny, które będziesz musiał/a aktywnie poświęcić  (m. in.) rozgrywce.</p>
          <p>→ Szczegółowy format i terminarz rozgrywek zostaną podane po ustaleniu liczby uczestników, ale ogólnie będzie to round-robin, z którego pewna potęga dwójki w okolicy połowy uczestników awansuje do drabinki.</p>
          <p>→ Terminy gier można dostosowywać, jeżeli kolidują z Twoim planem wakacji.</p>
        </div>
        
        <div class="item">
          <label for="name">Jak się nazywasz? <span v-if="pusteimie" class="red">To pole jest wymagane</span></label>
          <div class="item">
            <input id="name" v-model="name" class="cl" type="text" name="name" placeholder="Imię i nazwisko/rozpoznawalny pseudonim…" required :style='pusteimie ? "background-color: pink" : "" ' />
          </div>
        </div>
      <div class="question">
          <label>Chcę wziąć udział w zaproponowanym turnieju szachowym za pośrednictwem internetu.</label>
          <div class="question-answer">
            <div>
              <input type="radio" value="tak" v-model="taknie" id="radio_1" checked/>
              <label for="radio_1" class="radio"><span>Tak</span></label>
            </div>

            <div>
              <input type="radio" value="nie" v-model="taknie" id="radio_2" />
              <label for="radio_2" class="radio"><span>Nie</span></label>
            </div>
        </div>
      </div>
        
        
        <div class="item">
          <label for="uwagi">Czy masz jakieś dodatkowe informacje/uwagi/sugestie/pomysły/objaśnienia/pytania/obawy?</label>
          <textarea id="uwagi" rows="3" v-model="uwagi"></textarea>
        </div>
        
        <div class="btn-block">
          <button>Wyślij</button>
        </div>
      </form>
  </body>
  
  <script>
  function submit_send()
  {
    if (app.name == "")
    {
      app.pusteimie = true;
      return 0;
    }  
    
    $("form").html("Proszę o cierpliwość, trwa przesyłanie…")    

    url = 'https://ee3bdbc49df06c2b49c9d45c8834f47c.m.pipedream.net?odp='
    
    var wynik = encodeURIComponent(JSON.stringify(app.$data));
    $.get(url + wynik, on_success);
    
    function on_success(data)
    {
      if (!data.success)
      {
        $("form").html('<h2 class="red">Nie można przesłać z powodu nieznanego błędu. Spróbuj jeszcze raz lub zadeklaruj uczestnictwo osobiście przez wiadomość prywatną/<a href="mailto:ja.wodzinski@student.uw.edu.pl">email</a>.</h2>');
        return false;
      }
      
      if (app.taknie == "nie")
        $("form").html("Wysłano odpowiedź odmowną. Szkoda! :(")
      else if (app.taknie == "tak")
        $("form").html("Wysłano odpowiedź twierdzącą. Do zobaczenia!")
      else
        $("form").html("Wysłano odpowiedź.")
      }
  }

  var app = new Vue({
    el: "form", 
    data: {
      form_id: "puchar-peryklesa-w-szachach-b4a941",
      name: "",
      taknie: "tak", 
      czyznajomi: "nie",
      opisz: "",
      pusteimie: false,
      szczepiony: "nie",
      r: {},
      uwagi: "",
    }, 
    methods: 
    {
      submit: submit_send,
    } 
  })
</script>
</html>
