<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="rower-style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2"></script>
    <link rel="icon" href="gfx/favicon.ico">
  </head>
  <body>    
    <div class="testbox">
      <form v-on:submit.prevent="submit">        
          <div class="opis">
            <span v-if="!clid">Niepoprawny link</span>
            <span v-if="clid">
            
            <p>Kliknij poniżej, aby zrezygnować ze <u>wszystkich</u> treści rozsyłanych w ramach newslettera. Aby zrezygnować tylko z niektórych rodzajów, skontaktuj się bezpośrednio.</p>
            </span>
          
          </div>
                    
          <div class="btn-block">
            <button>Zrezygnuj</button>
          </div>
      </form>
  </body>
  
  <script>
  function submit_send()
  {
    $("form").html("Proszę o cierpliwość, trwa przesyłanie…")    

    url = 'https://ee3bdbc49df06c2b49c9d45c8834f47c.m.pipedream.net?unsub=unsub&clid='
    
    $.get(url + clid, on_success);
    
    function on_success(data)
    {
      if (!data.success)
      {
        $("form").html('<h2 class="red">Nie można przesłać z powodu nieznanego błędu. Spróbuj jeszcze raz lub skontaktuj się osobiście przez wiadomość prywatną.</h2>');
        return false;
      }
      
      $("form").html("Wysłano odpowiedź.")
    }
  }

  var searchParams = new URLSearchParams(window.location.search);
  var clid = searchParams.get('j');

  var app = new Vue({
    el: "form", 
    data: {
      clid: clid
    }, 
    methods: 
    {
      submit: submit_send,
    } 
  })

</script>
</html>
